/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Mar-2022, 20:38:51
    Author     : igorh
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    background: black;
}

body{
    overflow: hidden;
}
