@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/*** Scrollbar syling***/


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #242322;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#FFC857;
    border-radius: 10px;
  }

/*** Header Styling ***/
li, a, button, h2, h1, h3, h4, span{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.currentPage{
    color:#FFC857;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 80px;
    background-color: #100F0D;
}

.logo {
    cursor: pointer;
    height: 55px;
    width: 130px;
    margin-right: auto;
}

nav {
    margin-right: 80px;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #FFC857;
}
.accountOptions{
    display: flex;
    width: 250px;
    justify-content: space-around;
}

.accountOptions button{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}


.loginLink button:hover{
    background-color: #FFC857;
    color: #100F0D;
}

.signUpLink button:hover{
    background-color: rgba(255, 200, 87,0.8);
    color: white;
}

.loginLink button{
    background: none;
    border: solid rgba(255, 200, 87,1) 1px;
}
.signUpLink button{
    background-color: rgba(255, 200, 87,1);
    color: #100F0D;
    border: none;
}

/*********************/

/*** Main Styling ***/
.main{
background: url("../Images/headphonesBackground.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat ;
position: relative;
height: 91.5vh;
display: flex;
justify-content: space-evenly;
position: relative;
}

.leftContent{
    width: 100%;
    height: 100%;
    background: none;
}

.relaxationSpace, .relaxationSpaceRight{
    width: 600px;
    height: 400px;
    display: inline-block;
    margin-left: 60px;
    position: relative;
    margin-top: 80px;
}
.relaxationContent, .relaxationContentRight{
    padding-left: 60px;
}

.relaxationContent h4, .relaxationContentRight h4{
    font-weight: 400;
    opacity: 0.75;
    margin-top: 20px;

}

.relaxationSpace h2, .relaxationSpaceRight h2{
font-weight: 700;
font-size: 27px;
}

.relaxationSpace h3, .relaxationSpaceRight h3{
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
    }

.relaxationSpace hr, .relaxationSpaceRight hr{
    width: 250px;
    border-color:#FFC857;
}

.main .dot {
    height: 12px;
    width: 12px;
    background-color:#FFC857;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 34px;
}

.signUpAdvSpace{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4),rgba(255, 200, 87,0.9));
    height: 250px;
    width: 900px;
}

.signUpAdvSpace{
    font-weight: 100;
    display: flex;
    justify-content: center;
    position: relative;
}

.signUpAdvSpace span{
margin-top: 30px;
font-size: 15px;

}

.signUpAdvSpace .advSpaceButton button{
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    font-weight: 700;
    background: none;
    border: solid rgba(255, 200, 87,1) 1px;
    position: absolute;
    left: 105px;
    bottom: 40px;
    width: 200px;
}

.advSpaceButton button:hover{
    background-color: #FFC857;
    color: #100F0D;
}

.relaxationSpaceRight{
    margin-top: 150px;
    margin-left: 400px;
    position: relative;
}

.relaxationContentRight span{
    font-weight: 300;
    font-size: 15px;
}

.relaxationContentRight h3{
    margin-bottom: 30px;
}

.relaxationContentRight hr{
    width: 320px;
}

.relaxationSpaceRight .dotRight {
    height: 12px;
    width: 12px;
    background-color:#FFC857;
    border-radius: 50%;
    position: absolute;
    left: 38px;
    top: 34px;
}

.rightContent{
    width: 100%;
    height: 100%;
    background: none;
}
/**********************/
/*** Music Browse Styling ***/

.mainNoBackground{
    background-color: #0C0C0C;
    height: 91.5vh;
    display: flex;
    justify-content: space-around;
}

.leftMenu{
    width: 10%;
    background-color: #100E0D;
}
.leftMenuContent{
    display: grid;
}

.rightMusicList{
    width: 90%;
    background-color: #0C0C0C;
}

.leftTopMenuSeperator {
border-color:rgba(179, 179, 179, 0.6);
margin: 20px 10px 6px 10px;
}
.leftBotMenuSeperator {
    border-color:rgba(179, 179, 179, 0.6);
    margin: 6px 10px 20px 10px;
    }

.leftMenuTitle{
font-weight: 500;
font-size: 16px;
padding-left: 10px;
}

.leftMenuContent a{
    font-weight: 400;
    font-size: 14px;
    padding-left: 15px;
    color:rgba(179, 179, 179, 0.6);
    transition: all 0.3s ease 0s;
}

.leftMenuContent .unavailableOption{
    color:rgba(179, 179, 179, 0.4);
}

.leftMenuContent .currentLeftMenuPage{
    color: #FFC857;
    font-weight: 500;
}

.leftMenuContent a:hover {
    color: #FFC857;
}

.leftMenuContent .unavailableOption:hover {
    color:rgba(179, 179, 179, 0.1);
}

.searchBarWrap{
    width: 500px;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 50px;
}

.searchBarWrap .searchBox {
position: relative;
width: 500px;
height: 60px;
}

.searchBarWrap .searchBox input{
margin-top: 1px;
position: absolute;
top: 0;
left: 5;
width: 100%;
height: 79%;
font-weight: 500;
font-size: 18px;
color:aliceblue;
border-radius: 50px;
border: none;
    
}

.searchBarWrap .searchBox .btn{
position: absolute;
border-radius: 50%;
left: 0;
width: 50px;
height: 80%;
background:#FFC857;
z-index: 1;
cursor: pointer;
}

.searchBarWrap .searchBox .btn:hover{
background:rgb(32, 32, 32);
}

.searchBarWrap .searchBox .btn.btn_common .fas{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: white;
font-size: 20px;
}

.searchBarWrap .searchBox .input{
padding-right: 10px;
padding-left: 60px;
background-color: #252523;
}

.songWrapper {
background-color: #111111;
width: 760px;
height: 120px;
border-radius: 10px;
margin-left: 8%;
margin-top: 50px;
display: flex;
}

.uploaderName, .uploadDate, .songTitle{
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
}

.songWrapper .playMediaWrapper {
background: none;
border: solid 2px rgba(255, 200, 87);
border-radius: 30px;
width: 120px;
height: 120px;
border-radius: 10px;
}

.songWrapper .playMediaWrapper .fas{
border: 0;
color:rgba(255, 200, 87);
font-size: 75px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
margin-top: 18px;
}

.songDetails {
display: grid;
}

.uploadDetails {
display: flex;
align-items: center;
padding: 10px 0px;
}

.uploadDetails .uploadDate{
padding-left: 10px;
font-size: 14px;
color: rgb(187, 187, 187)
}

.uploaderName{
color: rgb(187, 187, 187)
}

.songTitle{
font-size: 21px;
color: #FFFFFF;
}

/*** Upload Page ***/

.uploadWrapper .leftUploadSection {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 30px 0px 0px 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.uploadWrapper {
    height: 700px;
    width: 1435px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 0px 100px;
}

.uploadIcon{
    height: 312px;
    width: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightUploadSection{
    background: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: grid;
    align-items: center;
    margin-right: 200px;
}

.upload-file-span{
    color:#FFC857;
    font-size: 36px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
}

.songForm{
    margin-bottom: 100px;
}

.songForm .inputField input {
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid rgb(173, 173, 173);
}

.songForm .inputField label{
    color: white;
}
.account_Btns{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.uploadBtn{
    background: none;
    border: solid rgba(255, 200, 87,1) 1px;
    padding: 9px 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color:#FFFFFF
}

.uploadBtn:hover{
    background-color: #FFC857;
    color: #100F0D;
}


/*** Login Page Styling ***/

.mainNoBackgroundAccount {
display: flex;
justify-content: center;
align-items: center;
background-color: #0C0C0C;
height: 91.5vh;
}

.mainNoBackgroundAccount .accountDetailsWrapper {
height: 700px;
width: 1435px;
border-radius: 30px;
background-color: #161616;
display: flex;
justify-content: space-around;
}

.accountDetailsWrapper .leftAccountSection {
height: 100%;
width: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)) ,url(../Images/accountDetailsBackground.jpg);
background-size: cover;
border-radius: 30px 0px 0px 30px;
text-align: center;
}

.accountDetailsWrapper .rightAccountSection {
height: 100%;
width: 100%;
display: grid;
justify-content: center;
align-items: center;
}

.accountTitle h1{
display: flex;
justify-content: center;
margin-bottom: 10%;
font-size: 36px;
}

.accountForm .inputField input {
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid rgb(173, 173, 173);
}

.accountForm label {
    font-size: 12px;
    color:rgba(255, 255, 255, 0.8);
    margin-left: 10px; 
    font-weight: 600;
}

.account_Btns{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.account_Btns .loginLink{
    background: none;
    border: solid rgba(255, 200, 87,1) 1px;
    padding: 9px 25px;
    cursor: pointer;
    padding: 11px 50px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color:#FFFFFF
}

.account_Btns .registerLink{
    background: none;
    border: solid rgba(255, 200, 87,1) 1px;
    padding: 11px 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color:#FFFFFF;
}

.account_Btns .registerLink:hover{
    background-color: #FFC857;
    color: #100F0D;
}

.account_Btns .loginLink:hover{
    background-color: #FFC857;
    color: #100F0D;
}


.account_Btns .cancelBtn {
    background-color: rgba(255, 200, 87,1);
    color: #100F0D;
    border: none;
    padding: 11px 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 700;
}

.account_Btns  .cancelBtn:hover{
    background-color: rgba(255, 200, 87,0.8);
    color: white;
}



